@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-atlas-black text-atlas-green-500 font-mono text-[11px];
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #022c1f;
}

::-webkit-scrollbar-thumb {
  background: #0f5132;
}
